/*
#3A5D1F

#8CBF66

#fbfbf4

#856F63

#3d3029 
*/
/* ---------------------------------------Divs--------------------------------------- */

html, body {
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  width: 100%;
  height: fit-content;
  margin-top: 100px;
}

/* ---------------------------------------Header--------------------------------------- */

header {
    background-color: #8CBF66;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.user-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto 15px;
    width: fit-content;
    gap: 10px;
    height: 100%;
}

/* ---------------------------------------Imgs--------------------------------------- */

.logo {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 0px;
}

.search-icon {
    width: 30px;
    height: 30px;
    margin: auto 0;
}

/* ---------------------------------------Text/Font--------------------------------------- */

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
* {
    font-family: "roboto", sans-serif;
}

h1 {
    color: #fbfbf4;
    width: fit-content;
    height: fit-content;
}

label{
    color: #3d3029;
    font-size: 1.1em;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
}

/* ---------------------------------------button--------------------------------------- */

button{
    width: fit-content;
    height: 50px;
    background-color: #3d3029;
    border: 0;
    padding: 0 10px;
    border-radius: 10px;
    color: #fbfbf4;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: #2b221d;
    text-decoration: none;
}

button:active {
    background-color: #2b221d;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    transform: translateY(4px);
}


/* ---------------------------------------input/forms--------------------------------------- */

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

input {
    width: calc(100% - 20px);
    height: 48.4px;
    border-radius: 5px;
    border: 1px solid #3d3029;
    padding: 0 10px;
    margin: 10px 0px;
    font-size: 1.1em;
    background-color: #fbfbf4;
}

/* isso impede que o autofill do google mude a cor da caixa de texto, então não mexa se não souber uma solução melhor*/
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}