<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="icon" href="../static/img/icon.ico" type="image/ico" />
    <title>Index</title>
  </head>
  <body>
    <header>
      <div style="width: fit-content; display: flex">
        <img src="../static/img/logo.png" alt="Site logo" class="logo" />
        <h1
          style="
            width: 180px;
            height: 75px;
            margin: 12.5px 0px;
            text-align: start;
          "
        >
          Marketplace digital
        </h1>
      </div>
      <form action="" method="post">
        <input
          type="text"
          name="search"
          placeholder="Buscar produtos, marcas e muito mais..."
          class="search-bar"
          autocomplete="off"
        />
        <div class="vertical-bar"></div>
        <button type="submit" class="button-search">
          <img
            src="../static/img/search_icon.png"
            alt="search icon"
            class="search-icon"
          />
        </button>
      </form>
      <div class="user-options">
        <a href="/login"><button>Entrar</button></a>
        <a href="/register"><button>Cadastrar</button></a>
      </div>
    </header>
    <main>
      <section></section>
    </main>
  </body>
</html>
