<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="icon" href="../static/img/icon.png" type="image.png" />
    <title>Login</title>
  </head>
  <body>
    <header>
      <div style="width: fit-content; display: flex">
        <img src="../static/img/logo.png" alt="Site logo" class="logo" />
        <h1
          style="
            width: 180px;
            height: 75px;
            margin: 12.5px 0px;
            text-align: start;
          "
        >
          Marketplace digital
        </h1>
      </div>
      <div class="user-options">
        <a href="index.html"><button>Voltar</button></a>
      </div>
    </header>
    <main>
      <section class="left-section"></section>
      <div class="vertical-bar"></div>
      <section class="right-section">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, facere
        libero rerum aut quae aspernatur laboriosam reiciendis vel possimus!
        Laboriosam sed autem perferendis aliquam nostrum ipsum, consequatur
        animi odit sint?
      </section>
    </main>
  </body>
</html>
