<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/profile.css" />
    <link rel="icon" href="../static/img/icon.ico" type="image/ico" />
    <title>Perfil</title>
  </head>
  <body>
    <header>
      <div style="width: fit-content; display: flex">
        <img src="../static/img/logo.png" alt="Site logo" class="logo" />
        <h1
          style="
            width: 180px;
            height: 75px;
            margin: 12.5px 0px;
            text-align: start;
          "
        >
          Marketplace digital
        </h1>
      </div>
      <div class="user-options">
        <a href="/"><button>Voltar</button></a>
      </div>
    </header>
    <main id="main">
      <section class="left-section">
        <img
          src="../static/img/profile.png"
          alt="Foto de perfil"
          class="profile"
        />
        <p class="name"><strong>Olá, {{ session["user"] }}</strong></p>
        <button class="profile-btn" id="btn-info">Editar perfil</button>
        <button class="profile-btn" id="btn-history">Ver histórico</button>
        <a href="/logout"><button class="profile-btn">Logout</button></a>
        <button class="profile-btn" onclick="pop_up()">Excluir conta</button>
      </section>
      <section class="right-section">
        <div id="profile-info" class="profile-info">
          <form action="/change_data" method="post">
            <fieldset id="form-field" disabled>
              <label for="email">E-mail*</label>
              <input
                type="text"
                id="email"
                name="email"
                placeholder="{{ session['email'] }}"
                required
              />
              <p id="error-email" class="error"></p>
              <label for="name">Nome*</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="{{ session['user'] }}"
                required
              />
              <p id="error-name" class="error"></p>
              <label for="code">Código</label>
              <input
                type="text"
                id="code"
                name="code"
                placeholder="{{ session['code'] }}"
                readonly
              />
              <label for="type">Tipo</label>
              <input
                type="text"
                id="type"
                name="type"
                placeholder="{{ session['type'] }}"
                readonly
              />
              <div class="telephone-container">
                <label for="phone" style="margin-bottom: 10px">Telefone*</label>
                <div class="telephone-inputs">
                  <select name="ddd" id="ddd">
                    <option value="{{ session['number'].split(' ')[0] }}">
                      {{ session['number'].split(' ')[0] }}
                    </option>
                    <option value="+55">+55</option>
                  </select>
                  <input
                    type="number"
                    id="phone"
                    name="phone"
                    placeholder="{{ session['number'].split(' ')[1] }}"
                    required
                  />
                </div>
                <p id="error-phone" class="error"></p>
              </div>
              {% if error %}
              <p class="error">{{ error }}</p>
              {% endif %}
              <div class="profile-info-btn">
                <button type="submit" id="btn-submit" class="submit-button">
                  Salvar
                </button>
                <button type="button" id="btn-cancel" class="submit-button">
                  Cancelar
                </button>
              </div>
            </fieldset>
            <button type="button" id="btn-edit" class="btn-edit">Editar</button>
          </form>
        </div>
        <div id="profile-history" class="profile-history">
          <h2>Histórico de Atividades</h2>
          <ul>
            <li>01/06/2025: Atualizou foto de perfil</li>
            <li>28/05/2025: Alterou senha</li>
            <li>15/05/2025: Adicionou novo endereço</li>
          </ul>
        </div>
      </section>
    </main>
    <div class="pop-up" id="pop-up">
      <p style="margin-bottom: 0">Tem certeza que deseja excluir essa conta?</p>
      <p style="margin-top: 0">
        Essa ação é <strong style="color: #c10c0c">permanente</strong>!
      </p>
      <div class="pop-up-btns">
        <button class="btn-pop-up" onclick="pop_up()">Cancelar</button>
        <a href="/delete_account"
          ><button class="btn-pop-up">Confirmar</button></a
        >
      </div>
    </div>
    <script src="../static/js/profile.js"></script>
    <script src="../static/js/confirmation.js"></script>
    {% if history %}
    <script>
      window.onload = function () {
        document.getElementById("btn-history").click();
      };
    </script>
    {% endif %}
  </body>
</html>
